{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "quote-props": ["error", "consistent"],
    "semi": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "extends": ["prettier/@typescript-eslint", "plugin:prettier/recommended"],
      "rules": {
        "sort-imports": "error"
      }
    },
    {
      "files": ["*.js"],
      "extends": ["eslint:recommended"],
      "globals": {
        "jasmine": true
      }
    }
  ]
}
