node_modules/
dist/
build/

CHANGELOG.md

src/button-angular/package.json
src/button-element/package.json
src/button-react/package.json

.bit/

# Temporarily disable while investigating build error
src/lib/__util__/test-util.ts
