.App {
  margin: 10px;
  padding-bottom: 200px;
}

.params {
  padding: 10px 5px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.params > label {
  margin: 0 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.params > label > span {
  margin-bottom: 2px;
}

.params > label > * {
  display: block;
}

.params > label > input, .params > label > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 4px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 0;
  color: #000;
}
