name: publish

on:
  release:
    types: [created]

jobs:
  publish-npm:
    name: publish to npm
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: configure github package repository
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          registry-url: https://npm.pkg.github.com/
          scope: '@google-pay'
      - name: prebuild
        run: scripts/prebuild.sh
      - run: npm install
      - name: npm install (button-angular)
        run: |
          cd src/button-angular
          npm install
      - run: npm run build
      - name: publish all to github package repository
        run: npm run publish:all
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: configure wombat dressing repository
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          registry-url: https://wombat-dressing-room.appspot.com
          scope: '@google-pay'

      - name: publish @google-pay/button-react to npm (via wombat dressing)
        run: cd src/button-react && npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.TOKEN_BUTTON_REACT}}
      - name: publish @google-pay/button-element to npm (via wombat dressing)
        run: cd src/button-element && npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.TOKEN_BUTTON_ELEMENT}}
      - name: publish @google-pay/button-angular to npm (via wombat dressing)
        run: cd src/button-angular/dist && npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.TOKEN_BUTTON_ANGULAR}}
