name: build

on:
  push:
    branches:
      - '*'
      - '!release-*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: prebuild
        run: scripts/prebuild.sh
      - run: npm install
      - name: npm install (button-angular)
        run: |
          cd src/button-angular
          npm install
      - run: npm run build:all
      - run: npm test
